<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>阿师校园二手交易平台</title>
    <!--<link rel="stylesheet" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <!--
    <script type="text/javascript" th:src="@{/js/jquery.js}" ></script>
    -->
    <!--<script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/index.bundle.js}" ></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <script type="text/javascript" th:src="@{/js/layer/layer.js}" ></script>
    <script type="text/javascript" th:src="@{/js/goods/detailGoods.js}" ></script>
    <link rel="stylesheet" th:href="@{/css/materialize-icon.css}" />
    <link rel="stylesheet" th:href="@{/css/detail.css}" />
</head>
<body ng-view="ng-view">
<script th:inline="javascript">
    /*<![CDATA[*/
    var cur_user = /*[[${cur_user}]]*/;
    var commentsList = /*[[${commentsList}]]*/;
    var goodsExtend = /*[[${goodsExtend}]]*/;

    function showLogin() {
        if($("#signup-show").css("display")=='block'){
            $("#signup-show").css("display","none");
        }
        if($("#login-show").css("display")=='none'){
            $("#login-show").css("display","block");
        }else{
            $("#login-show").css("display","none");
        }
    }
    function showSignup() {
        if($("#login-show").css("display")=='block'){
            $("#login-show").css("display","none");
        }
        if($("#signup-show").css("display")=='none'){
            $("#signup-show").css("display","block");
        }else{
            $("#signup-show").css("display","none");
        }
    }
    function ChangeName() {
        if($("#changeName").css("display")=='none'){
            $("#changeName").css("display","block");
        }else{
            $("#changeName").css("display","none");
        }
    }

    $(function(){
        detailGoodsPage.init(cur_user, commentsList, goodsExtend);
    });
    /*]]>*/
</script>
<!--
    描述：顶部
-->
<div th:include="/goods/navication"></div>

<!--
    描述：显示商品详情
-->
<div ng-controller="detailBoxController" class="detail-box stark-components z-depth-1 row ng-scope">
    <div class="col s12 path">
        <a th:href="@{'/goods/catelog/'+${catelog.id}}" th:text="${catelog.name}"></a>
        <em>></em>
        <a th:text="${goodsExtend.goods.name}"></a>
    </div>
    <div class="col s6">
        <div class="slider" style="height: 440px;">
            <ul class="slides" style="height: 400px;">
                <img th:src="@{'/upload/'+${goodsExtend.images[0].imgUrl}}" />
            </ul>
            <ul class="indicators">
                <li class="indicator-item"></li>
                <li class="indicator-item"></li>
                <li class="indicator-item"></li>
                <li class="indicator-item"></li>
            </ul>
        </div>
    </div>
    <div class="col s6">
        <h1 class="item-name" th:text="${goodsExtend.goods.name}"></h1>
        <h2 class="item-price" th:text="${goodsExtend.goods.price}"></h2>
        <div class="item-public-info">
            <p class="bargain">可讲价</p>
            <p>
                <i class="iconfont"></i>
                <em class="item-location">阿坝师范学院</em>
            </p>
        </div>
        <div class="publisher-info-title">
            <em>卖家信息</em><hr/>
        </div>
        <div class="item-contact" th:if="${cur_user == null}">
            <p class="not-login">
                <a th:onclick="'showLogin()'">登录</a>
                <em>或</em>
                <a th:onclick="'showSignup()'">注册</a>
                <em>后查看联系信息</em>
            </p>
        </div>
        <div class="item-contact" th:if="${cur_user != null}">
            <div>
                <div class="base-blue z-depth-1 attr">
                    <i class="iconfont"></i>
                </div>
                <div class="value" th:text="${seller.username}"></div>
            </div>
            <div>
                <div class="base-blue z-depth-1 attr">
                    <i class="iconfont"></i>
                </div>
                <div class="value" th:text="${seller.phone}"></div>
            </div>
            <div>
                <div class="base-blue z-depth-1 attr">
                    <i class="iconfont"></i>
                </div>
                <div class="value" th:text="${seller.qq}"></div>
            </div>
            <div>
<!--                <div class="base-blue z-depth-1 attr">-->
<!--                    <i class="iconfont"></i>-->
<!--                </div>-->
                <div class="value"></div>
            </div>
        </div>
        <h1 class="item-pub-time" th:text="'发布于'+${goodsExtend.goods.startTime}"></h1>
    </div>
</div>
<div class="detail-box stark-components z-depth-1 row">
    <h1 class="title">商品详情</h1>
    <hr class="hr1" />
    <hr class="hr2" />
    <p class="section" th:text="${goodsExtend.goods.describle}"></p>
    <p class="section"></p>
    <p class="section">
        联系我时请注明是在阿师校园二手交易平台上看到的！
    </p>
</div>
<!--
    TODO::评论目前是静态的
-->
<div class="row detail-area">
    <div class="clo s12">
        <div ng-controller="commentController" class="comment stark-components z-depth-1 ng-scope">
            <h1 class="title">评论</h1>
            <hr class="hr1" />
            <hr class="hr2" />
            <div class="comment-add row" th:if="${cur_user == null}" style="font-size: 18px;">
                <div class="input-field col s12">
                    <a th:onclick="'showLogin()'">登录</a>
                    <em>或</em>
                    <a th:onclick="'showSignup()'">注册</a>
                    <em>后查看评论</em>
                </div>
            </div>
            <div th:if="${cur_user != null}" class="comment-collection" th:each="item,itemStats : ${commentsList}">
                <div class="comment-item ng-scope" th:if="${item.atuserId == 0}">
                    <div class="comment-main-content">
                        <em class="name ng-binding" th:text="${item.user.username}+':'">ggee:</em>
                        <em class="ng-hide">回复</em>
                        <em class="name ng-binding ng-hide">@:</em>
                        <em class="ng-binding" th:text="${item.content}">不错。</em>
                    </div>
                    <div class="comment-function">
                        <em class="time ng-biinding" th:text="${item.createAt}">2018/01/06 10:02:02</em>
                        <a class="reply-or-delete" th:onclick="'detailGoodsPage.deleteCommentsAction('+${item.id}+')'" th:if="${cur_user != null and item.userId == cur_user.id}">删除</a>
                        <a class="reply-or-delete" th:onclick="'detailGoodsPage.replyCommentsModalAction('+${itemStats.index}+')'" th:if="${cur_user != null and item.userId != cur_user.id}">回复</a>
                    </div>
                </div>
                <div class="comment-item ng-scope" th:if="${item.atuserId != 0}">
                    <div class="comment-main-content">
                        <em class="name ng-binding" th:text="${item.user.username}">ggee</em>
                        <em>回复</em>
                        <em class="name ng-binding" th:text="${item.atuser.username}+':'">llwwlql:</em>
                        <em class="ng-binding" th:text="${item.content}">不错。</em>
                    </div>
                    <div class="comment-function">
                        <em class="time ng-biinding" th:text="${item.createAt}">2018/01/06 10:02:02</em>
                        <a class="reply-or-delete" th:onclick="'detailGoodsPage.deleteCommentsAction('+${item.id}+')'" th:if="${cur_user != null and item.userId == cur_user.id}">删除</a>
                        <a class="reply-or-delete" th:onclick="'detailGoodsPage.replyCommentsModalAction('+${itemStats.index}+')'" th:if="${cur_user != null and item.userId != cur_user.id}">回复</a>
                    </div>
                </div>
            </div>
            <div class="comment-add row" th:if="${cur_user != null}">
                <div class="input-field col s12">
                    <i class="iconfont prefix"></i>
                    <input id="commentbox" type="text" class="validate ng-pristine ng-untouched ng-valid ng-empty"/>
                    <label for="commentbox">这里写下评论</label>
                    <button type="submit" id="addCommentsBtn" class="waves-effect wave-light btn comment-submit">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--回复窗口-->
<div id="replyCommentsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">回复</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <input type="hidden" id="replyAtuserId" />
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input id="replyContent" type="text" class="form-control" placeholder="" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" id="confirmReplyCommentsBtn" class="btn btn-success radius">
                    <span><i class="icon-ok"></i></span> 确定
                </button>
                <button data-bb-handler="cancel" type="button" id="cancelReplyCommentsBtn" class="btn btn-danger radius">取消</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/usercenter.js}" ></script>
</body>
</html>
