<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>阿师校园二手交易平台</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/materialize.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/index.bundle.js}" ></script>
    <script type="text/javascript" th:src="@{/js/layer/layer.js}" ></script>
    <link rel="stylesheet" th:href="@{/css/materialize-icon.css}" />
    <link rel="stylesheet" th:href="@{/css/user.css}" />
</head>
    <script>
        function showLogin() {
            if($("#signup-show").css("display")=='block'){
                $("#signup-show").css("display","none");
            }
            if($("#login-show").css("display")=='none'){
                $("#login-show").css("display","block");
            }else{
                $("#login-show").css("display","none");
            }
        }
        function showSignup() {
            if($("#login-show").css("display")=='block'){
                $("#login-show").css("display","none");
            }
            if($("#signup-show").css("display")=='none'){
                $("#signup-show").css("display","block");
            }else{
                $("#signup-show").css("display","none");
            }
        }
        function ChangeName() {
            if($("#changeName").css("display")=='none'){
                $("#changeName").css("display","block");
            }else{
                $("#changeName").css("display","none");
            }
        }
    </script>
    <!-- TODO::IDEA关于thymeleaf的支持红色波浪线 -->
<body ng-view="ng-view">
<!--
    描述：顶部
-->

<div th:include="/goods/navication"></div>

<!--
    描述：左侧导航条
-->
<div ng-controller="sidebarController" class="sidebar stark-components ng-scope">
    <li ng-class="{true: 'active'}[isAll]">
        <a th:href="@{/goods/catelog/1}" class="index">
            <img th:src="@{/img/index.png}" />
            <em>最新发布</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isDigital]">
        <a th:href="@{/goods/catelog/1}" class="digital">
            <img th:src="@{/img/digital.png}"  />
            <em>闲置数码</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isRide]">
        <a th:href="@{/goods/catelog/2}" class="ride">
            <img th:src="@{/img/ride.png}"/>
            <em>校园代步</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isCommodity]">
        <a th:href="@{/goods/catelog/3}" class="commodity">
            <img th:src="@{/img/commodity.png}"/>
            <em>电器日用</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isBook]">
        <a th:href="@{/goods/catelog/4}" class="book">
            <img th:src="@{/img/book.png}"/>
            <em>图书教材</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isMakeup]">
        <a th:href="@{/goods/catelog/5}" class="makeup">
            <img th:src="@{/img/makeup.png}"/>
            <em>美妆衣物</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isSport]">
        <a th:href="@{/goods/catelog/6}" class="sport">
            <img th:src="@{/img/sport.png}"/>
            <em>运动棋牌</em>
        </a>
    </li>
    <li ng-class="{true: 'active'}[isSmallthing]">
        <a th:href="@{/goods/catelog/7}" class="smallthing">
            <img th:src="@{/img/smallthing.png}"/>
            <em>其它物品</em>
        </a>
    </li>
    <div class="info">
        <a href="" target="_blank">关于我们</a><em>-</em>
        <a href="">联系我们</a>
        <p>QQ：123456789</p>
        <p>©2020 阿师校园二手交易平台</p>
    </div>
</div>
<!--
    时间：2018/01/04 23:51:14
    描述：右侧显示部分
-->
<div class="main-content">
    <!--
        时间：2018/01/04 23:51:14
        描述：右侧banner（图片）部分
    -->
    <div class="slider-wapper">
        <div class="slider" style="height: 440px; width: 920px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <ul class="slides" style="height: 400px;">
                <li class="active" style="opacity: 1;">
                    <a href="">
                        <div class="bannerimg">
                            <ul class="bannerul">
                                <p class="text1">亲爱的同学们：</p>
                                <p class="text2">欢迎来到阿坝师范学院二手交易平台。临近毕业季的你</p>
                                <p class="text3">是否有太多的闲置想与校友分享，为了追求更好的校园服务</p>
                                <p class="text4">我们打造了一个全新的校园平台——<span>阿坝师院二手交易平台</span></p>
                                <p class="text5">这里有更多的闲置分享，更自由的校园话题讨论，你想要的，都在这里。</p>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--
        时间：2018/01/05 11:17:51
        描述：最新发布
    -->
    <div class="index-title">
        <a href="">最新发布</a>
        <hr class="hr1" />
        <hr class="hr2" />
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal" th:each="item : ${catelogGoods1}">
            <div class="card col">
                <a th:href="@{'/goods/goodsId/'+${item.goods.id}}">
                    <div class="card-image">
                        <!--<img th:src="@{/upload/${item.images[0].imgUrl}}" />-->
                        <img th:src="@{'/upload/'+${item.images[0].imgUrl}}" />
                    </div>
                    <div class="card-content item-price" th:text="${item.goods.price}"></div>
                    <div class="card-content item-name">
                        <p th:text="${item.goods.name}"></p>
                    </div>
                    <div class="card-content item-location">
                        <p>阿坝师范学院</p>
                        <p th:text="${item.goods.startTime}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--
        时间：2018/01/05 15:19:36
        描述：闲置数码
    -->
    <div class="index-title">
        <a href="">闲置数码</a>
        <hr class="hr1" />
        <hr class="hr2" />
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal" th:each="item : ${catelogGoods1}">
            <div class="card col">
                <a th:href="@{'/goods/goodsId/'+${item.goods.id}}">
                    <div class="card-image">
                        <!--<img th:src="@{/upload/${item.images[0].imgUrl}}" />-->
                        <img th:src="@{'/upload/'+${item.images[0].imgUrl}}" />
                    </div>
                    <div class="card-content item-price" th:text="${item.goods.price}"></div>
                    <div class="card-content item-name">
                        <p th:text="${item.goods.name}"></p>
                    </div>
                    <div class="card-content item-location">
                        <p>阿坝师范学院</p>
                        <p th:text="${item.goods.startTime}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--
        时间：2018/01/05 15:43:59
        描述：校园代步
    -->
    <div class="index-title">
        <a href="">校园代步</a>
        <hr class="hr1" />
        <hr class="hr2" />
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal" th:each="item : ${catelogGoods2}">
            <div class="card col">
                <a th:href="@{'/goods/goodsId/'+${item.goods.id}}">
                    <div class="card-image">
                        <!--<img th:src="@{/upload/${item.images[0].imgUrl}}" />-->
                        <img th:src="@{'/upload/'+${item.images[0].imgUrl}}" />
                    </div>
                    <div class="card-content item-price" th:text="${item.goods.price}"></div>
                    <div class="card-content item-name">
                        <p th:text="${item.goods.name}"></p>
                    </div>
                    <div class="card-content item-location">
                        <p>阿坝师范学院</p>
                        <p th:text="${item.goods.startTime}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--
        时间：2018/01/05 15:59:28
        描述：电器日用
    -->
    <div class="index-title">
        <a href="">电器日用</a>
        <hr class="hr1" />
        <hr class="hr2" />
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal" th:each="item : ${catelogGoods3}">
            <div class="card col">
                <a th:href="@{'/goods/goodsId/'+${item.goods.id}}">
                    <div class="card-image">
                        <!--<img th:src="@{/upload/${item.images[0].imgUrl}}" />-->
                        <img th:src="@{'/upload/'+${item.images[0].imgUrl}}" />
                    </div>
                    <div class="card-content item-price" th:text="${item.goods.price}"></div>
                    <div class="card-content item-name">
                        <p th:text="${item.goods.name}"></p>
                    </div>
                    <div class="card-content item-location">
                        <p>阿坝师范学院</p>
                        <p th:text="${item.goods.startTime}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--
        时间：2018/01/05 16:00:15
        描述：图书教材
    -->
    <div class="index-title">
        <a href="">图书教材</a>
        <hr class="hr1" />
        <hr class="hr2" />
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal" th:each="item : ${catelogGoods4}">
            <div class="card col">
                <a th:href="@{'/goods/goodsId/'+${item.goods.id}}">
                    <div class="card-image">
                        <!--<img th:src="@{/upload/${item.images[0].imgUrl}}" />-->
                        <img th:src="@{'/upload/'+${item.images[0].imgUrl}}" />
                    </div>
                    <div class="card-content item-price" th:text="${item.goods.price}"></div>
                    <div class="card-content item-name">
                        <p th:text="${item.goods.name}"></p>
                    </div>
                    <div class="card-content item-location">
                        <p>阿坝师范学院</p>
                        <p th:text="${item.goods.startTime}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--
        时间：2018/01/05 16:03:19
        描述：美妆衣物
    -->
    <div class="index-title">
        <a href="">美妆衣物</a>
        <hr class="hr1" />
        <hr class="hr2" />
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal" th:each="item : ${catelogGoods5}">
            <div class="card col">
                <a th:href="@{'/goods/goodsId/'+${item.goods.id}}">
                    <div class="card-image">
                        <!--<img th:src="@{/upload/${item.images[0].imgUrl}}" />-->
                        <img th:src="@{'/upload/'+${item.images[0].imgUrl}}" />
                    </div>
                    <div class="card-content item-price" th:text="${item.goods.price}"></div>
                    <div class="card-content item-name">
                        <p th:text="${item.goods.name}"></p>
                    </div>
                    <div class="card-content item-location">
                        <p>阿坝师范学院</p>
                        <p th:text="${item.goods.startTime}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--
        时间：2018/01/05 16:06:57
        描述：运动棋牌
    -->
    <div class="index-title">
        <a href="">运动棋牌</a>
        <hr class="hr1" />
        <hr class="hr2" />
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal" th:each="item : ${catelogGoods6}">
            <div class="card col">
                <a th:href="@{'/goods/goodsId/'+${item.goods.id}}">
                    <div class="card-image">
                        <!--<img th:src="@{/upload/${item.images[0].imgUrl}}" />-->
                        <img th:src="@{'/upload/'+${item.images[0].imgUrl}}" />
                    </div>
                    <div class="card-content item-price" th:text="${item.goods.price}"></div>
                    <div class="card-content item-name">
                        <p th:text="${item.goods.name}"></p>
                    </div>
                    <div class="card-content item-location">
                        <p>阿坝师范学院</p>
                        <p th:text="${item.goods.startTime}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--
        时间：2018/01/05 16:10:50
        描述：票券小物
    -->
    <div class="index-title">
        <a href="">其它物品</a>
        <hr class="hr1" />
        <hr class="hr2" />
    </div>
    <div class="waterfoo stark-components row">
        <div class="item-wrapper normal" th:each="item : ${catelogGoods7}">
            <div class="card col">
                <a th:href="@{'/goods/goodsId/'+${item.goods.id}}">
                    <div class="card-image">
                        <!--<img th:src="@{/upload/${item.images[0].imgUrl}}" />-->
                        <img th:src="@{'/upload/'+${item.images[0].imgUrl}}" />
                    </div>
                    <div class="card-content item-price" th:text="${item.goods.price}"></div>
                    <div class="card-content item-name">
                        <p th:text="${item.goods.name}"></p>
                    </div>
                    <div class="card-content item-location">
                        <p>阿坝师范学院</p>
                        <p th:text="${item.goods.startTime}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/usercenter.js}" ></script>

</body>
</html>
