<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header>
        <div ng-controller="headerController" class="header stark-components navbar-fixed ng-scope">
            <nav class="white nav1">
                <div class="nav-wrapper">
                    <a th:href="@{/goods/homeGoods}" class="logo">
                        <em class="em1">123</em>
                        <em class="em1">
                            <span style="color: #4b82c3;">1</span>
                            <span style="color: #ffd51f;">2</span>
                            <span style="color: #b02b1a;">3</span>
                        </em>
                        <em class="em2">二手工坊</em>
                        <em class="em3">
                            <span style="color: #d80000;">g</span>
                            <span style="color: #48bdff;">d</span>
                            <span style="color: #ea83ee;">u</span>
                            <span style="color: #50dd5a;">f</span>
                            <span style="color: #ee9946;">e</span>
                            .market
                        </em>
                        <!--<em class="em3">gdufe.market</em>-->
                    </a>
                    <div class="nav-wrapper search-bar">
                        <form ng-submit="search()" class="ng-pristine ng-invalid ng-invalid-required"
                              th:action="@{/goods/search}">
                            <div class="input-field" style="width: 500px">
                                <label for="search" class="active">
                                    <i class="iconfont"></i>
                                </label>
                                <input id="search" name="str" placeholder="搜点什么吧..." style="height: 40px;width: 400px"
                                       class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"/>
                                <button data-position="bottom" class="blue lighten-1 waves-effect waves-light btn" onclick="search()" style="margin:0 0 5px 10px">
                                    搜索
                                </button>
                            </div>
                        </form>
                    </div>
                    <ul class="right" th:if="${cur_user != null}">
                        <li class="publish-btn">
                            <button data-position="bottom" class="red lighten-1 waves-effect waves-light btn">
                                <a th:href="@{/goods/publishGoods}">我要发布</a>
                            </button>
                        </li>
<!--                        <li>-->
<!--                            <a th:href="@{/user/allGoods}">我发布的商品</a>-->
<!--                        </li>-->
                        <li>
                            <a th:text="${cur_user.username}"></a>
                        </li>
<!--                        <li class="notification">-->
<!--                            <i ng-click="showNotificationBox()" class="iconfont"></i>-->
<!--                            <div ng-show="notification.tagIsShow"-->
<!--                                 class="notification-amount red lighten-1 ng-binding ng-hide">0-->
<!--                            </div>-->
<!--                        </li>-->
                        <li class="changemore">
                            <a class="changeMoreVertShow()">
                                <i class="iconfont"></i>
                            </a>
                            <div class="more-vert">
                                <ul class="dropdown-content">
                                    <li><a th:href="@{/user/home}">个人中心</a></li>
                                    <li><a onclick="openPwdModel()">更改密码</a></li>
                                    <li><a th:href="@{/user/logout}">退出登录</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="right" th:if="${cur_user == null}">
                        <li class="publish-btn">
                            <!--<button ng-click="showLogin()" data-position="bottom" data-delay="50"-->
                            <!--data-tooltip="需要先登录哦！" class="red lighten-1 waves-effect waves-light btn" data-tooltip-id="510d3084-e666-f82f-3655-5eae4304a83a"	>-->
                            <!--我要发布</button>-->
                            <button th:onclick="'showLogin()'" data-position="bottom" data-delay="50"
                                    data-tooltip="需要先登录哦！" class="red lighten-1 waves-effect waves-light btn"
                                    data-tooltip-id="510d3084-e666-f82f-3655-5eae4304a83a">
                                我要发布
                            </button>
                        </li>
                        <li>
                            <a th:onclick="'openLogin()'">登录</a>
                        </li>
                        <li>
                            <a th:onclick="'openRegister()'">注册</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!--注册-->
        <div class="site-text" style="margin: 5%; display: none" id="register_model" >
            <form class="layui-form" lay-filter="example" id="register_form">
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-block">
                        <input type="text" required="required" name="phone" lay-verify="title" autocomplete="off" placeholder="请输入手机号" class="layui-input" pattern="^1[0-9]{10}$"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" required="required" name="username" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" required="required" name="password" lay-verify="title" autocomplete="off" placeholder="请输入密码" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" required="required" name="email" lay-verify="title" autocomplete="off" placeholder="请输入邮箱" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button type="button" class="btn" onclick="register()" style="margin-top: 20px;width: 360px;font-size: larger">注册</button>
                </div>
            </form>
        </div>

        <!--登录-->
        <div class="site-text" style="margin: 5%; display: none" id="login_model" >
            <form class="layui-form" th:action="@{/user/login}" method="post" lay-filter="example" id="login_from">
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-block">
                        <input type="text" required="required" name="phone" lay-verify="title" autocomplete="off" placeholder="请输入手机号" class="layui-input" pattern="^1[0-9]{10}$"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" required="required" name="password" lay-verify="title" autocomplete="off" placeholder="请输入密码" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button type="submit" class="btn" style="margin-top: 20px;width: 360px;font-size: larger">登录</button>
                </div>
            </form>
        </div>

        <!--修改密码-->
        <div class="site-text" style="margin: 5%; display: none" id="pwd_model" >
            <form class="layui-form" method="post" lay-filter="example" id="pwd_from">
                <div class="layui-form-item">
                    <label class="layui-form-label">旧密码</label>
                    <div class="layui-input-block">
                        <input type="password" required="required" id="password111" lay-verify="title" autocomplete="off" placeholder="请输入旧密码" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-block">
                        <input type="password" required="required" id="password222" lay-verify="title" autocomplete="off" placeholder="请输入新密码" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label> <span id="pwdspan"></span>
                    <div class="layui-input-block">
                        <input type="password" required="required" id="password333" lay-verify="title" autocomplete="off" placeholder="请输入确认密码" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button type="button" onclick="changePwd()" class="btn" style="margin-top: 20px;width: 360px;font-size: larger">修改</button>
                </div>
            </form>
        </div>
    </header>
</head>
</html>
